html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* App-wide styles go here */

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #aa0505;
}
a.red {  /* always red */
  color: #aa0505;
}
a.black:hover {  /* always black */
  color: black;
}

h1, h2, h3 {
  font-weight: 300;
}
